/* Define color variables */
:root {
    --primary-color: #363d7c;
    --secondary-color: #144a52;
    --tertiary-color: #ffffff;
  }
  
  /* Reset default styles for all elements */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  /* Body styles */
  body {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(white);
  color: rgb(61, 102, 102);
  }
  
 /* Header styling */
/* Define styles for header div */
  header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    Margin: 20px 20px;
    padding: 5px;
    align-content: center;
  }

  /* Define styles for .style-indiv class */
  .style-indiv {
  font-size: .50cm;
  font-weight: 100;
  background-color: transparent; 
  }
  
  
/* Define styles for .high-score class */
  .high-score {
    font-size: .50cm;
    border: none;
    background-color: transparent;
    padding: 20px; 
  }
  
  /* Define styles for div .p-style */
  div .p-style {
    font-size: .60cm;
    padding: 0px 50px ;
    text-align: justify;
  }
  
  /* Define styles for div .p-style-1 */
  div .p-style-1 {
    font-size: .50cm;
    font: 2px;
    padding-block: 10px;
   
  }

  /* Define styles for hidden HTML elements components */
  section .wrapper{
    display: grid;
    grid-template-rows: 1fr, 2fr, 1fr;
    grid-auto-rows: (10px, auto);
    grid-gap: .05em; 
    justify-items: left; 
  }
  
  /* Define styles for div .style-2 */
  div .style-2{
    display: grid; 
    grid-template-rows: 1fr, 2fr;
    grid-auto-rows: (10px, auto);
    flex: wrap;
    justify-content: left;
    align-content:space-between;
  
  }

  /* Define styles for div .style-3 */
    div .style-3{
      display: grid; 
      grid-template-rows: 1fr, 2fr;
      grid-auto-rows: (10px, auto);
      flex: wrap;
      justify-content: left;
      align-content:space-between;
  }
  
  /* Define styles for section div */
  section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    Margin: 20px auto;
    padding: 10px;
  }

  /* Define styles for div .style-3 */
  div .style-3 {
    display: inline;
    flex-wrap: wrap;
    justify-content:space-around;
    max-width: 75%;
    padding-left: 75px;
  }
  
  /* Define styles for div .list-inner */
  div .list-inner {
  justify-content: start;
  }

  /* Define styles for .list-inner class */
  .list-inner {
  justify-items: start;
  }
  
/* Styling for questions */
/* Define styles for .questions-ul class */
  .questions-ul {
    list-style-type: none;
    display: contents;
  }
  /* Define styles for .questions-li class */
  .questions-li {
  width: 250px;
  }
  /* Define styles for .list-inner class */
  .list-inner {
    display: grid;
    grid-template-rows: 1fr, 2fr, 1fr;
    grid-auto-rows: (10px, auto);
    grid-gap: .05em; 
    justify-items: center; 
  }
  /* Define styles for button style body */
  .btn-style-main {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 10px;
    width: 225px;
    border: 1px solid black;
    font-size: .50cm;
    padding: 8px;
    margin: 4px;
    outline: none;
  }
  
  /* Button style when active */
  .btn-style-main:active {
    background-color: var(--secondary-color);
    box-shadow: 0 2px rgb(214, 71, 71); 
    transform: translateY(1px);
  }

  /* Answer button style */
  .answer-btn {
    color: white;
    width: 225px;
    border: 1px solid black;
    font-size: .50cm;
    padding: 8px;
    outline: none;
    text-align: start;
    border: 1px solid;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--primary-color)
  }
  
  /* Answer button style when active */
  .answer-btn:active {
    background-color: var(--secondary-color);
    box-shadow: 0 2px rgb(214, 71, 71); 
    transform: translateY(1px);
  }

/* Individual style */
  .style-indiv {
   display: flex;
   justify-content: center;
  
/* Score list style */
  }.score-list {
  
    Padding-left: 35px;
  }
  
  /* Span-1 style */
  .span-1 {
    height: 30px;
  }
  
  
/* Hide page elements */
  #questions,
  #final-score,
  #high-scores,
  #correct-wrong {
    display: none;
  }
  
  /* Media query for screen width <= 720px */
  @media screen and (max-width: 720px){
  header div {
    justify-content: space-d;
    margin-left: 0px;
    padding: 5px;
    align-content: center;
    display: flex;
    flex: none;
  }
  .answer-btn {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  
  }
  
  div .style-3 {
  max-width: 100%;
  }
  }

  /* Media query for screen width <= 375px */
  @media screen and (max-width: 375px){
  h2, .switch {
  font-size: .45cm;
  }
  div .p-style {
  font-size: .40cm;
  text-align: justify;
  padding: 0px 50px ;
  }
  .list-inner {
  display: grid;
  grid-template-rows: 1fr, 2fr, 1fr;
  grid-auto-rows: (10px, auto);
  grid-gap: .05em; 
  justify-items: center; 
  }
  }